<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAFn-xtilM-s8Y1LpQ5nvyQAnmrpXVhnNc</string>
	<key>GCM_SENDER_ID</key>
	<string>387759928982</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.twinzz.app</string>
	<key>PROJECT_ID</key>
	<string>twinzz-8138c</string>
	<key>STORAGE_BUCKET</key>
	<string>twinzz-8138c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:387759928982:ios:bd0dfbf89884631e4f34b7</string>
</dict>
</plist>